<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SHSKPIs_Root" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="http://127.0.0.1:3005/SHSKPIs" appendQueryString="true" />
                </rule>
                <rule name="SHSKPIs_Subpath" stopProcessing="true">
                    <match url="^(.+)" />
                    <action type="Rewrite" url="http://127.0.0.1:3005/SHSKPIs/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
</configuration>
